# Python virtual environments
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment / secrets
.env
.env.*
!.env.example

# Logs
*.log

# IDEs
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp

# Experiment tracking
wandb/
mlruns/

# Raw and processed dataset files
data/**
!data/README.md
